body {
  background-color: #1e1c1c;
  color: #fafaf5;
  font-family: arial;
}

.move-icon {
  height: 60px;
}

.move-button {
  background-color: transparent;
  border: 3px solid #fafaf5;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border-image-slice: 1;
}

/* .move-button:hover {
  border-radius: 50%;
  border-image-source: linear-gradient(to left, #fd2d00, #df007c);
} */

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-bottom: 60px;
}

.reset-score-button {
  background-color: #fafaf5;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}
